#idHowToHeading {
  left: 37.5%;
  margin-top: -6vh;
}

#howYouWork,
#howWeWork {
  width: 45vw;
  font-size: 3.25vw;
  align-items: center;
  text-align: center;
}
#howYouWork {
  float: left;
  margin-left: 2vw;
}
#howWeWork {
  float: right;
  margin-right: 2vw;
}
#idHowToTxt1,
#idHowToTxt2 {
  font-size: 0.7em;
  margin-top: 6vh;
  max-width: 42.5vw;
}
#idHowToImg1 {
  width: 22.5vw;
}
#idHowToImg2 {
  width: 20vw;
}
#linkTitle {
  display: flex;
  margin-left: 4vw;
  margin-top: 0;
  text-decoration: none;
  margin-right: 1vw;
}

#titleLink {
  margin-top: 1vh;
}

#imageLogo {
  float: left;
  width: 3vw;
  height: 7vh;
  margin-left: 37.5%;
  margin-top: 0;
}

#headingObjInputIdHead {
  border: none;
  background: none;
  color: aliceblue;
  place-items: left;
  font-size: 1.35em;
}
