#planId {
  display: grid;
  place-items: center;
  color: aqua;
  float: left;
  margin-left: 43%;
}
#checkImgId {
  width: 8vw;
  margin-left: 23%;
}
#planLeftSector {
  float: left;
  position: absolute;
  left: 5.5%;
  top: 20%;
}
#planLeftSectorImg1 {
  width: 11vw;
  margin-top: 10%;
  margin-left: 1.5vw;
  float: left;
}
#planLeftSectorImg2 {
  width: 8.5vw;
  float: left;
  margin-top: 7%;
  margin-left: 3vw;
}
#planLeftSectorImg3 {
  width: 5vw;
  position: absolute;
  top: 85%;
  left: 42.5%;
}
#blueArrow img {
  width: 30vw;
  float: left;
  margin-top: 1%;
  margin-left: 33.25%;
}
#planRightSector {
  display: flex;
  margin-left: 65.5%;
}
#planRightSectorImg1 {
  float: left;
  margin-top: 12.5%;
  width: 20vw;
  margin-left: -2vw;
}
#planRightSectorImg2 {
  float: left;
  width: 13vw;
  margin-top: 10%;
  margin-left: -2vw;
}
.planTxt {
  max-width: 32%;
  float: left;
  text-align: center;
  font-size: 2.2vw;
  margin-top: 5vh;
}
#idBadHabits {
  color: azure;
}
#idPlanMsg {
  color: cyan;
}
#idGoodHabits {
  color: gold;
}

#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}

#linkTitle {
  display: flex;
  margin-left: 40%;
  text-decoration: none;
  margin-right: 1vw;
}

#imageLogo {
  float: left;
  width: 4vw;
  height: 10vh;
  margin-left: 37.5%;
  margin-top: 1.5vh;
}

#headingObjInputIdHead {
  border: none;
  background: none;
  color: aliceblue;
  place-items: left;
  font-size: 2.3em;
}
