.dropCap:first-letter {
  float: left;
  font-size: 5vw;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}
#idAboutHeading {
  margin-left: 45vw;
  margin-top: -7vh;
}
#sectionTxtAbout {
  font-size: 2vw;
}
#idAboutH2 {
  margin-left: 40%;
}
.aboutTxt {
  width: 42%;
  height: 100%;
  display: grid;
  place-items: center;
}
#aboutTxt1 {
  float: left;
  margin-right: 0;
}
#aboutTxt2 {
  float: right;
  margin-left: 0;
  font-size: 1.1em;
}
#aboutImg1 {
  height: 20vh;
  margin-left: -15%;
}
#aboutImg2 {
  height: 25vh;
}

.margin7Class {
  margin: 6vh;
}

#linkTitle {
  display: flex;
  margin-left: 4vw;
  margin-top: 0;
  text-decoration: none;
  margin-right: 1vw;
}

#titleLink {
  margin-top: 1vh;
}

#imageLogo {
  float: left;
  width: 3vw;
  height: 7vh;
  margin-left: 37.5%;
  margin-top: 0;
}

#headingObjInputIdHead {
  border: none;
  background: none;
  color: aliceblue;
  place-items: left;
  font-size: 1.35em;
}
