.aboutContactBtn {
  background: none;
  color: #ddd;
  width: auto;
  text-align: center;
  display: block;
  text-decoration: underline;
  font-size: 0.55em;
  font-weight: 100;
}
:is(.aboutContactBtn, .contactClass):hover {
  color: white;
}
.contactAboutBtn {
  background: none;
  color: #1f3b4d;
  width: auto;
  text-align: center;
  display: block;
  text-decoration: underline;
  font-size: 0.55em;
  font-weight: 100;
}
.contactAboutBtn:hover {
  color: black;
}
.dropCap:first-letter {
  float: left;
  font-size: 5vw;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.1em 0;
}
#idAboutHeading,
#idContactHeading,
#idHowToHeading {
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-family: Quicksand;
  color: azure;
  margin-top: -8.5vh;
  position: absolute;
}
#idAboutHeading {
  left: 42.5%;
}

#sectionTxtAbout {
  font-size: 2vw;
}
#idAboutH2 {
  margin-left: 40%;
}
.aboutTxt {
  width: 42%;
  height: 100%;
  display: grid;
  place-items: center;
}
#aboutTxt1 {
  float: left;
  margin-right: 0;
}
#aboutTxt2 {
  float: right;
  margin-left: 0;
  font-size: 1.1em;
}
#aboutImg1 {
  height: 20vh;
  margin-left: -15%;
}
#aboutImg2 {
  height: 25vh;
}
