#idBodyTypeSubmit {
  margin-top: 12vh;
}
#colorChangeIdMeso {
  font-size: 3.3vw;
}
#colorChangeIdEndo {
  font-size: 3.4vw;
}

#colorChangeIdNoIdea {
  font-size: 2.5vw;
}
#headingObjInputIdBodyType {
  margin-top: 7.5vh;
}
#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}
