#idCheckSubmit {
  margin-top: 10vh;
  top: 10vh;
}
#headingObjInputIdEmotion {
  margin-top: 10vh;
  top: 10vh;
  height: 15vh;
  padding: 5vh 10vw;
  text-align: center;
  align-items: center;
  font-size: 3vw;
}

#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}
