#idContactHeading {
  left: 44.5%;
}

#sectionTxtContact {
  font-size: 2.5vw;
}

#contactImg1,
#contactImg2 {
  float: left;
  height: 10vh;
}
#idContactH2 {
  margin-left: 37.5%;
}
.contactClass {
  font-size: 4vw;
  color: #ddd;
}
