.resultButton {
  border-style: outset;
  text-decoration: underline;
  border-radius: 2vw;
  height: 8vh;
  cursor: progress;
  font-family: Quicksand;
  font-size: 2vw;
  background-color: #32bf84;
  color: black;
  position: absolute;
  width: 120px;
  text-align: center;
}
#headingObjInputIdEmotion {
  margin-top: 10vh;
  height: 20vh;
  padding: 4vh 8vw;
  text-align: center;
  align-items: center;
  font-size: 2.9vw;
}
#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}

#linkTitle {
  display: flex;
  margin-left: 40%;
  text-decoration: none;
  margin-right: 1vw;
}

#imageLogo {
  float: left;
  width: 4vw;
  height: 10vh;
  margin-left: 37.5%;
  margin-top: 1.5vh;
}

#headingObjInputIdHead {
  border: none;
  background: none;
  color: aliceblue;
  place-items: left;
  font-size: 2.3em;
}
