#idHowToHeading {
  left: 37.5%;
}

#howYouWork,
#howWeWork {
  width: 45vw;
  font-size: 2em;
  align-items: center;
  text-align: center;
}
#howYouWork {
  float: left;
  margin-left: 2vw;
}
#howWeWork {
  float: right;
  margin-right: 2vw;
}
#idHowToTxt1,
#idHowToTxt2 {
  font-size: 0.7em;
  margin-top: 6vh;
  max-width: 42.5vw;
}
#idHowToHeading {
  margin-top: -6vh;
}
#idHowToImg1 {
  height: 25vh;
}
#idHowToImg2 {
  height: 20vh;
}
