#idImageSubmit {
  margin-top: 11vh;
}

#showImgBtn {
  color: azure;
  background-color: #32bf84;
}
#referenceImgTxt {
  display: grid;
  place-items: center;
  color: azure;
  font-size: 2.5vw;
}

#imgShowBtn {
  display: grid;
  place-items: center;
}

#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}

#headingObjInputIdBodyImage {
  margin-top: 10vh;
}
#headingObjInputIdGoalImage {
  margin-top: 10vh;
}
