#idLoginSubmit {
  margin-top: 2vh;
}
#headingTextInputIdName {
  margin-top: 10vh;
}
#headingTextInputIdAge,
#headingTextInputIdEmail {
  margin-top: 2.5vh;
}
input::placeholder {
  color: #1f3b4d;
  opacity: 85;
}

#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}

.headingTextInputId {
  color: #ddd;
  display: grid;
  place-items: center;
}
.textInputClass {
  width: 99%;
  text-align: center;
  font-size: 3vw;
  border-style: inset;
  border-radius: 3vw;
  border-color: rgba(100, 255, 255);
  background-color: #9dbcd4;
  font-family: Quicksand;
  height: 6vh;
}

#linkTitle {
  display: flex;
  margin-left: 40%;
  text-decoration: none;
  margin-right: 1vw;
}

#imageLogo {
  float: left;
  width: 4vw;
  height: 10vh;
  margin-left: 37.5%;
  margin-top: 1.5vh;
}

#headingObjInputIdHead {
  border: none;
  background: none;
  color: aliceblue;
  place-items: left;
  font-size: 2.3em;
}
