#idLoginSubmit {
  margin-top: 2vh;
}
#headingTextInputIdName {
  margin-top: 10vh;
}
#headingTextInputIdAge,
#headingTextInputIdEmail {
  margin-top: 2.5vh;
}
input::placeholder {
  color: #1f3b4d;
  opacity: 85;
}

#titleLink {
  margin-top: 2.5vh;
  margin-left: 1vw;
}

.headingTextInputId {
  color: #ddd;
  display: grid;
  place-items: center;
}
.textInputClass {
  width: 99%;
  text-align: center;
  font-size: 3vw;
  border-style: inset;
  border-radius: 3vw;
  border-color: rgba(100, 255, 255);
  background-color: #9dbcd4;
  font-family: Quicksand;
  height: 6vh;
}
